body{
    background-color: rgb(255, 0, 234);
}
.task3{
background-color: white;
margin-top: 55px;
padding: 10px;
border-radius: 12px;
}
h3{
    color: white;
    background-color: blue;
    padding: ;
    border-radius: 12px;
}